.ocultar{
    display: none;
}
.mostrar{
    display: block;
}
.txtbtnGoo{
    border-radius: 50px;
    background-color: red;
    color: white;
    border: 0;
}
.txtbtnFace{
    border-radius: 50px;
    background-color: rgb(27, 80, 196);
    color: white;
    border: 0;
}
.txtbtnRegistro{
    border-radius: 50px;
}
.txtbtnIngresarr{
    border-radius: 50px;
    
}
.resultado{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.botonn{
    background-color: blue;
    color: white;
}
